<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>쿠폰 구매하기 페이지(수정 중)</title>
<link rel="stylesheet" href="/css/coupon/insertCoupon_style.css">
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					asd
				</a>
			
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/updateInfo}">
							회원정보
						</a>
					</li>
				</ui>
			</div>
			<!-- header-container 부분 끝 -->
		</header>
		
		<section>
			<div class = "section-container">
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

					</div>
				</aside>
			
				
				
				<div class = "aside-center">
					<h2>쿠폰 구매하기</h2>
					<form action = "coupon" method = "post" onsubmit="return checkValues();">
						<div class = "section-center">
						</div><!-- section-center 부분 끝 -->
					</form>
				</div><!-- aside-center 부분 끝 -->
			</div><!-- section-container 부분 끝 -->
		</section> <!-- section 부분 끝 -->
		</div> <!-- headerAndSection-wrapper 부분 끝 -->
	<!-- 풋터 시작  -->
	<footer>
		
	</footer>
	<!-- script 시작  -->
	<script>
	
	</script>
</body>
</html>