<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/delivery/deliveryIndex.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<script>
	function writeReview(storeNum, receiptNum) {
		$("#hiddenStoreNum").val(storeNum);
		$("#hiddenReceiptNum").val(receiptNum);
	}
	
</script>

</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					asd
				</a>
				<a th:href="@{/community/index}" class="header-toAnother" >
					커뮤니티로~
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/mypage}">
							회원정보
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<div id="center-dv">
							<h1>주문내역</h1>
							<table th:each="rList : ${rList}" border="1">
								<tr>	
									<td th:text="${rList.receiptNum}"></td>
									<td th:text="${rList.totalAmount}"></td>
									<td>
										<input type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" th:onclick='|writeReview(${rList.storeNum}, ${rList.receiptNum})|' value="리뷰">
									</td>
								</tr>
								<tr>
									<td th:text="${rList.orderHistory}" colspan="3"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>	
			</div>		
		</section>
	</div>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >review</button>
						
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Review</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form action="myCompleteOrderList" method="post">
		        <div>
		        	<label for="oneStar">1</label>
		        	<input type="radio" id="oneStar" value="1" name="rating">
		        	<label for="twoStar">2</label>
		        	<input type="radio" id="twoStar" value="2" name="rating"> 
		        	<label for="threeStar">3</label>
		        	<input type="radio" id="threeStar" value="3" name="rating">
		        	<label for="fourStar">4</label>
		        	<input type="radio" id="fourStar" value="4" name="rating">
		        	<label for="fiveStar">5</label>
		        	<input type="radio" id="fiveStar" value="5" name="rating">
		        </div>
		        <input type="hidden" id="hiddenStoreNum" value="" name="storeNum">
		        <input type="hidden" id="hiddenReceiptNum" value="" name="receiptNum">
		    	<div class="mb-3">
		        	<label for="message-text" class="col-form-label">Content</label>
		            <textarea class="form-control" id="message-text" name="reviewContent"></textarea>
		        </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			    	<button type="submit" class="btn btn-primary">리뷰남기기</button>
			    </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>


	<footer>
		
	</footer>
</body>
</html>