<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/delivery/deliveryRead.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/delivery/read.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<style>

	.aside-right-allPay{
		height : 100px;
		background-color: red;
	}
	
	.menuTable {
		margin : 20px;
		width: 45%;
		height : 50px;
		text-align:center;
		background-color:aqua;
	}
</style>

</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					asd
				</a>
				<a th:href="@{/community/index}" class="header-toAnother" >
					커뮤니티로~
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/mypage}">
							회원정보
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				
				<div class="searchBar-wrapper">
					<div class="container-searchBar">
						<input class = "searchBar" type = "text" name="searchWord" th:value="${searchWord}" id="searchWord" placeholder="메뉴검색">
						검색
					</div>
				</div>
				
				<aside>
					<div class="aside-left">
						<ul class="foodList">
							<li>
								<a th:href = "|@{storeList}?category=all|">
									전체보기
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=1|">
									한식
								</a>
							</li>
							<li>	
								<a th:href="|@{storeList}?category=2|">
									중식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=3|">
									일식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=4|">
									양식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=5|">
									디저트
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=6|">
									야식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=7|">
									도시락
								</a>
							</li>
						</ul>
					</div>
				</aside>
				
				<aside>
					<div class="aside-right">
						<div class="aside-right-order"></div>
						<div class="aside-right-allPay"></div>
					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">

						<!-- 썸네일 -->
						<div class="storeThumbnail">
							<span class="storename" th:text="${store.storeName}">&nbsp;&nbsp;</span>
							<div>
								<img th:src="@{storeDisplay(num = ${store.storeNum})}" class="brandImg">
								<span class="storeInfo" th:text="|${store.rating}점|"></span><br>
								<span class="storeInfo" th:text="${store.storeContent}"></span><br>
								<input class="storeInfo" type="button" value="♡" id="wish"><br>
								<p th:text="${store.wishlist}" class="storeInfo" id="countWishlist"></p>
								<input type="hidden" id="loginUser" th:value="${#authentication.getPrincipal().getUsername()}">
							</div>
						</div>
						
						<!-- ajax로 리뷰랑 메뉴 보여주는 리스트  -->
						<div>
						
						</div>

						<!-- 메뉴 및 리뷰 -->
						<div class="menuAndReview">
							<ul class="menuAndReviewList">
								<li id="menuButton">
									<a>
										메뉴
									</a>
								</li>
								<li id="reviewButton">
									<a>
										리뷰
									</a>
								</li>
								<li id="infoButton">
									<a>
										가게정보
									</a>
								</li>
							</ul>
						</div>
						<!-- ajax로 리뷰랑 메뉴 보여주는 리스트  -->
						<div id="menu">
							ajax로 보여주기
						</div>
						<div id="review">
							ajax로 보여주기
						</div>
						<div id="info">
							<h3>가게정보</h3>
							<div id="map" style="width:100%;height:200px;"></div>
							<p th:text="${store.address}" id="storeAddress"></p><br>
							<p th:text="${store.phone}"></p>
						</div>
					</div>
				</div>	
			</div>		
		</section>
	</div>

	<footer>
		
	</footer>
	
	<div class="modal" tabindex="-1" id="modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>Modal body text goes here.</p>
	        <a th:href="|@{/delivery/index?style=packaging}|"><button type="button" class="btn btn-primary">포장</button></a>
	        <a th:href="|@{/delivery/index?style=delivery}|"><button type="button" class="btn btn-primary">배달</button></a>
	        <a th:href="|@{/delivery/index?style=store}|"><button type="button" class="btn btn-primary">매장</button></a>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6e7c79dc40e0d0df1bb9a7bb0628d68a&libraries=services"></script>	
<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	mapOption = {
	    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	    level: 3 // 지도의 확대 레벨
	};  
	
	//지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	//주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();
	
	//주소로 좌표를 검색합니다
	geocoder.addressSearch('광주 송도로 162번길 11-6', function(result, status) {
	
	// 정상적으로 검색이 완료됐으면 
	 if (status === kakao.maps.services.Status.OK) {
	
	    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
	
	    // 결과값으로 받은 위치를 마커로 표시합니다
	    var marker = new kakao.maps.Marker({
	        map: map,
	        position: coords
	    });
	
	    // 인포윈도우로 장소에 대한 설명을 표시합니다
	    var infowindow = new kakao.maps.InfoWindow({
	        content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
	    });
	    infowindow.open(map, marker);
	
	    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	    map.setCenter(coords);
	} 
	}); 
</script>
</body>
</html>