<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Group Up</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg">
<script src="/js/delivery/index.js"></script>
<link rel="stylesheet" href="/css/delivery/deliveryRead.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(document).on( "scroll",function(){
			
			let docHeight = $(document).height();
		    let winHeight = $(window).height();
			 
			console.log(docHeight);
			console.log(winHeight);
			
			 if($(window).scrollTop() + winHeight >= docHeight) {
				// setTimeout(() => onScroll(), 500);
				onScroll();
			} 
			 $(".hideTable").animate({'opacity':'1'},1000);
		});
	});
	function getParameterByName(name) {
		  name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		  var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		  results = regex.exec(location.search);
		  return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		  
	}
	function onScroll(){
		var searchWord = getParameterByName('searchWord');
		let pagination = $("#pagination");
		let storeList = $("#storeList");
		let screenHeight = screen.height;
		let pageY = pageYOffset;
		let currentPage = $("#currentPage").val();
		let nextPage = $("#nextPage").val();
		let endPage =$("#endPage").val();
		
		console.log("끄테이지" +endPage);
		console.log(nextPage);
		if ( endPage < nextPage){
			return false;
		}
			$.ajax({
				url : "searchResultScrollAjax",
				type : "get",
				data : {
					"page" : nextPage,
					"searchWord" : searchWord
				},
				success : function(data) {
					let htmlStr = "";
						htmlStr += "<table class='tableW'>"
					$.each(data,function(index,item){
						
						htmlStr += "<tr class='storeTable hideTable' onClick='selectStore("+ item.storeNum+")'; style='cursor:pointer'  >";
						htmlStr += "<td><img src='storeDisplay?num="+item.storeNum+"' width='80px;' height='60px;'></td>";					
						htmlStr += "<td  class='nameTd'><span span style='display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;'>"+ item.storeName +"</span></td>";
						htmlStr += "<td>★" + item.rating + "</td>";
						htmlStr += "<td>♥" + item.wishlist + "</td>";
						htmlStr += "</tr>";
						
							
					});
						htmlStr += "</table>";
					
					$("#storeList").append(htmlStr);
					$("#nextPage").val(parseInt(nextPage)+1);
				}
			});
	}
	

</script>
<style>
	.storeTable {
		margin : 20px;
		width : 44%;
		color : black;
		border : 1px solid black;
		display : inline-block;
	}
	
	
	.storeTable a {
		color : black;
		text-decoration : none;
	}
	
	.storeTable .nameTd {
		padding-top : 30px;
		padding-bottom : 30px;
		width : 120px;
		text-align : center;
		
	}
	.hideTable{
		opacity:0;
	}
	.tableW {
		width:750px;
	}
</style>
</head>
<body>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo"> </a>
				

				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/login}"> 로그인 </a></li>
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/join}"> 회원가입 </a></li>
				<li sec:authorize="isAuthenticated"><a th:href="@{/logout}">
						로그아웃 </a></li>
				<li sec:authorize="isAuthenticated">
						<a th:href="|@{/member/mypage}?num=${member.memberNum}|"> 회원정보 </a>
					</li>
				<li>
					<a th:href="@{/community/index}" class="header-toAnother"> 커뮤니티
					</a>
				</li>
				</ui>

			</div>
		</header>

		<section>
			<div class="section-container">

				<div class="searchBar-wrapper">
					<div class="container-searchBar">
						<form th:action="@{/delivery/searchResultScroll}" method="get">
							<input type="button" onclick="getMyAddress();" class="placeholder">
							<input class = "searchBar" type = "text" name="searchWord" th:value="${searchWord}" id="searchWord" placeholder="위치검색">
							<input type = "submit" th:value="검색" id="searchBar" placeholder="위치검색">
						</form>
					</div>
				</div>

				<aside>
					<div class="aside-left">
						<ul class="foodList">
							<li>
								<a th:href = "|@{storeList}?category=all|">
									전체보기
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=1|">
									한식
								</a>
							</li>
							<li>	
								<a th:href="|@{storeList}?category=2|">
									중식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=3|">
									일식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=4|">
									양식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=5|">
									디저트
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=6|">
									야식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=7|">
									도시락
								</a>
							</li>
						</ul>
					</div>
				</aside>

				<aside>
					<div class="aside-right">
						<div id="storeRank"></div>
					</div>
				</aside>
				<div class="aside-center">
					<div class="section-center">
						<div id="storeList">
							<table class='tableW'>
								<tr th:each='list:${sList}' class="storeTable" th:onClick="|selectStore(${list.storeNum});|" style="cursor:pointer;">
									<td>
										<img  th:src="@{storeDisplay(num=${list.storeNum})}" width='80px;' height='60px;'>
									</td>					
									<td class='nameTd' >
										<span th:text='${list.storeName}' span style='display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;'></span>
									</td>
									<td    th:text="|★${#numbers.formatInteger(list.rating,1)}|">
									
									</td>
									<td th:text="|♥${list.wishlist}|">
									</td>
								</tr>
								
							</table>
						</div>

						<input type="hidden" th:value="${navi.currentPage}" id="currentPage">
						<input type="hidden" th:value="${navi.currentPage+1}" id="nextPage">
						<input type="hidden" th:value="${navi.endPageGroup}" id="endPage">
				
						<div id="navigator">
							<span
								th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
								<th:block th:if="${counter == navi.currentPage}">
								</th:block>
							</span>
						</div>
					</div>
				</div>
				</div>
		</section>

	</div>


	<script type="text/javascript">
$(document).ready(function() {
		
		rank();
	});
	
	// 1001
	function selectStore(storeNum) {
		location.href="read?num="+storeNum;
		
	}
	
	
	
	function rank() {
		
		$.ajax({
			url : "storeRank",
			type : "get",
			success : function(data) {
				
				// 9월 29일 랭킹뱃지 추가작업 
            let htmlStr = "<h1 style='text-align:center' class='rankTitle'>가게 랭킹</h1><ul>";
            $.each(data, function(index, item) {
               
               if(index <= 9) {
                  if ( index <=2 ){
                     
                     htmlStr += "";
                     htmlStr += "<li class='top3Stores' onClick='selectStore("+ item.storeNum+ ")'>"+  "<img src='' id='storeRank" + index + "'>  "  + "<span style='display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;' >" + item.storeName +"</span>" + "</li>";
                  }else {
                     
                     htmlStr += "<li class='underTop3' onClick='selectStore("+ item.storeNum+ ")'>" + (index+1)+"위 " +item.storeName + "</li>";
                  }
               }
               
            });
				htmlStr += "</ul>";
				$("#storeRank").html(htmlStr);
				
				for ( let i =0; i<=2; i++){
					let img_src = "/images/rank/rank"+ (i+1) + ".png";
					document.getElementById("storeRank"+i).src = img_src;
					document.getElementById("storeRank"+i).style.width="30px";
					document.getElementById("storeRank"+i).style.width="30px";
				}				
			}
			
		});
	}
	function selectStore(storeNum) {
	      location.href="read?num="+storeNum;
	      
	   }
	</script>
</body>
</html>