<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/delivery/deliveryRead.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<style>
	.storeTable {
	margin : 15px;
	width : 40%;
	color : white;
	border : 1px solid black;
	display : inline-block;
	overflow: hidden;
	}
	.img {
	  width: 80px;
	  height: auto;
	  object-fit: cover;
	}
	
	.storeTable td {
		padding : 15px;
	}
	
	.storeTable a {
		color : white;
		text-decoration : none;
	}
	
	.storeTable .nameTd {
		padding-top : 30px;
		padding-bottom : 30px;
		width : 120px;
		text-align : center;
		
	}
	
</style>
<script th:inline="javascript">
	
	$(document).ready(function() {
		$("#searchWord").on("keyup", function() { load(); });
		load();
		rank();
		
	});
	function rank() {
		
		$.ajax({
			url : "storeRank",
			type : "get",
			success : function(data) {
				
				// 9월 29일 랭킹뱃지 추가작업 
            let htmlStr = "<h1 style='text-align:center' class='rankTitle'>가게 랭킹</h1><ul>";
            $.each(data, function(index, item) {
               
               if(index <= 9) {
                  if ( index <=2 ){
                     
                     htmlStr += "";
                     htmlStr += "<li class='top3Stores'>"+  "<img src='' id='storeRank" + index + "'>  "  + "<span style='display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;' >" + item.storeName +"</span>" + "</li>";
                  }else {
                     
                     htmlStr += "<li class='underTop3'>" + (index+1)+"위 " +item.storeName + "</li>";
                  }
               }
               
            });
				htmlStr += "</ul>";
				$("#storeRank").html(htmlStr);
				
				for ( let i =0; i<=2; i++){
					let img_src = "/images/rank/rank"+ (i+1) + ".png";
					document.getElementById("storeRank"+i).src = img_src;
					document.getElementById("storeRank"+i).style.width="30px";
					document.getElementById("storeRank"+i).style.width="30px";
				}				
			}
			
		});
	}
	function plusWish(storeNum){
		
		$.ajax({
			url : "plusWish",
			type : "get",
			data : {"storeNum" : storeNum},
			success : function(data) {
				console.log(data);
				if(data.storeNum == storeNum) {
					$(".wish").val("♥");
				}
				
				
			}
		});
	}
	
	function getParameterByName(name) {
		  name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		  var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		  results = regex.exec(location.search);
		  return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}
	
	function load() {
		let title = $("#searchWord").val();
		var category = getParameterByName('category');
		
		$.ajax({
			url : "storeListAjax",
			type : "get",
			data : {"title" : title, "category" : category},
			success : function(data) {
				console.log(data);
				
				/* <![CDATA[ */
				var goRead = [[@{/delivery/read}]];
				
				let htmlStr = "";
				// 0930 세련 수정함.
				// table -> div로 & 사진 크기 높이 지정함.
				$.each(data, function(index, item) {
					
					htmlStr += "<a href='" + goRead + "?num=" + item.storeNum + "'>"; 
					htmlStr += "<div class='storeTable'>";
					htmlStr += "<span class = 'first1'><img src='storeDisplay?num=" + item.storeNum + "' width='80px; '' height='60px; '></span>"; 
					htmlStr += "<span class='first1'>" + item.storeName + "</span>";
					htmlStr += "<span class = 'first1'>★ " + item.rating + "</span>";
					htmlStr += "<span class = 'first1'>♥ " + item.wishlist + "</span>";
					htmlStr += "</div>";
					htmlStr += "</a>"
				});
				$("#center-dv").html(htmlStr);
				/* ]]> */
			}
		});
	}
</script>

</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
				</a>
				
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href="|@{/member/mypage}?num=${member.memberNum}|"> 회원정보 </a>
					</li>
					<li>
						<a th:href="@{/community/index}" class="header-toAnother" >
							커뮤니티
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				
				<div class="searchBar-wrapper">
					<div class="container-searchBar">
						<form th:action="@{/delivery/searchResultScroll}" method="get">
							<input type="hidden" th:value="${member.address}" id="myAddress">
							<input type="button" onclick="getMyAddress();" class="placeholder">
							<input class = "searchBar" type = "text" name="searchWord" th:value="${searchWord}" id="searchWord" placeholder="위치검색">
							<input type = "submit" th:value="검색" id="searchBar" placeholder="위치검색">
						</form>
					</div>
				</div>
				
				
				<aside>
					<div class="aside-left">
						<ul class="foodList">
							<li>
								<a th:href = "|@{storeList}?category=all|">
									전체보기
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=1|">
									한식
								</a>
							</li>
							<li>	
								<a th:href="|@{storeList}?category=2|">
									중식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=3|">
									일식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=4|">
									양식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=5|">
									디저트
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=6|">
									야식
								</a>
							</li>
							<li>
								<a th:href="|@{storeList}?category=7|">
									도시락
								</a>
							</li>
						</ul>
					</div>
				</aside>
				
				<aside>
					<div class="aside-right">
						<div id="storeRank">
					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<div id="center-dv"></div>
					
					</div>
				</div>	
			</div>		
		
		</section>

	</div>

	<footer>
		
	</footer>
	
	
</body>
</html>