<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>모임게시판</title>
<link rel = "stylesheet" href = "/css/community/classWrite.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<style>
	
	.storeTable {
	    table-layout: fixed;
	    word-wrap: break-word;
		}
	.storeTable th{
		padding-bottom: 10px;
	}
	
	table, tr, th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    width: 125px;
    }
    
    
	</style>
</head>
<body>

	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
				</a>
				
				<ui class = "header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/memberView/updateInfo}">
							회원정보
						</a>
					</li>
				</ui>
			</div><!-- header-container 부분 끝 -->
		</header><!-- header 부분 끝 -->
	
	
		<section id = "contentWrap" class = "clearfix">
			<div class="section-container">
				<div class = "aside-center">
				<div class = "writeBox">
				<!-- 글쓰기 제목 -->
				<h2>글쓰기</h2>	
					<!-- 글씨기용 폼 내용 -->
					<form action = "classWrite" method = "POST" onsubmit = "return checkValues();" enctype = "multipart/form-data" >
					
					<div class = "meetPlaceBox">
					<label for = "address_kakao" class ="placeTitle">약속장소</label>
					<input type="text" id="address_kakao" name="destination" readonly placeholder="약속장소를 정하기 위해 눌러주세요.">
					</div>
					<div>
					<input type="button" id= "address_kakao2" value="지도 참고하기" onclick="openDestinationForm();">
					<input type="button" class= "searchStore" value="가게찾기" onclick="showModal()">
					</div>
					<!-- <div class = "searchStore">
					<input type="button" class= "searchStore" value="가게찾기" onclick="showModal()">
					</div>	 -->					
					<div class = "titleBox">
					<label for = "title">제목</label>
					<input type = "text" name = "title" id = "title" placeholder="제목을 입력해주세요.">
					</div>		
					<div class = "contentBox">
					<label for = "content">내용</label>
					<textarea id = "content" name = "content" placeholder="내용을 입력해주세요."></textarea>
					</div>	
					<div class = "tagBox">
					<label for = "tag">해시태그</label>
		                <input  type="hidden" name="classTag" id="tagList" value="">
						
						<span id="tag-list"></span>
		
						<div class="form-group">
						<input type="text" id="tag" size="7"
							placeholder="스페이스바를 누르면 '해시태그'가 등록됩니다." style="width: 500px;" />
						</div>
						
					</div>
					<div class = "peopleNumBox">
						<label for = "peopleNum">인원 수<span style="font-size: 17px;" >(본인을 포함해서 설정해주세요.)</span></label>
						<input type="number" class = "peopleNum" min="2" name="totalMember" value="2">
					</div>
					<div id="fileDiv">
						<div class = "fileBox">
							<label>첨부파일</label>
							<input type = "file" name = "file" id = "file_0">
						</div>
					</div>
						<div class = "buttonBox">
						<input type = "submit" class = "btn1" value = "글쓰기">
						</div>
						
		</form>
		</div>
			</div>
			</div>
			</section>
			</div>
	
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">가게 찾아보기</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	      	
	      	<div id="categoryModal">
				<ul style="text-align: center;">
					<li value="all" onclick="findStore('all')">전체보기</li>
					<li value="1" onclick="findStore('1')">한식</li>
					<li value="2" onclick="findStore('2')">중식</li>
					<li value="3" onclick="findStore('3')">일식</li>
					<li value="4" onclick="findStore('4')">양식</li>
					<li value="5" onclick="findStore('5')">디저트</li>
					<li value="6" onclick="findStore('6')">야식</li>
					<li value="7" onclick="findStore('7')">도시락</li>				
				</ul>	      	
	      	</div>	
	      	
	      	<div id="storeListModal">
	      	
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="showCategory()">뒤로</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	</div>
	
	<footer>
	
	</footer>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

	$(document).ready(function() {
		
	});
	
	// 0924 추가
	function showModal() {
		$("#staticBackdrop").modal("show");
	}
	
	// 0924 추가
	function showCategory() {
		$("#storeListModal").hide();
		$("#categoryModal").show();
	}
	
	// 0924 추가
	function setStore(storeNum) {
		
		$.ajax({
			url : "setStore",
			type : "get",
			data : {"storeNum" : storeNum},
			success : function(data) {
				console.log(data);
				
				$("#address_kakao").val(data.address);
				$("#title").val(data.storeName);
				$("#staticBackdrop").modal("hide");
			}
		});
		
	}
	
	function findStore(category) {
		
		$.ajax({
			url : "findStore",
			type : "get",
			data : {"category" : category},
			success : function(data) {
				console.log(data);
				
				let htmlStr = "";
				if (data != "") {
				
					$.each(data, function(index, item) {
						htmlStr += "<table class='storeTable' onclick='setStore(" + item.storeNum + ");'>";
						htmlStr += "<tr><th class = 'span1'>" + item.storeNum + "</th>";
						htmlStr += "<th class = 'span2'>" + item.storeName + "</th>";
						htmlStr += "<th class = 'span3'> ★ " + item.rating + "</th>";
						htmlStr += "<th class = 'span4'> ♥ " + item.wishlist + "</th></tr>";
						htmlStr += "</table>";
					});
					
				} else {
					htmlStr += "<h4>해당 카테고리에는 상점이 없습니다.</h4>";
				}
				
					$("#storeListModal").html(htmlStr);
					$("#categoryModal").hide();
					$("#storeListModal").show();
			}
		});		
		
		
	}






window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("#title").focus(); //상세입력 포커싱
            }
        }).open();
    });
}

// 해시태그
$(document).ready(function () {
    var tag = {};
    var counter = 0;

	    
    // 입력한 값을 태그로 생성한다.
    function addTag (value) {
    	// 0925 추가
        tag[counter] = "#" + value;
        counter++; 
    }

    function marginTag () {
        return Object.values(tag).filter(function (word) {
            return word !== "";
        });
    }

    $("#tag").on("keyup", function (e) {
        var value = marginTag(); // return array
        $("#tagList").val(value); 
    });
    
    $("#tag").on("keypress", function (e) {
        var self = $(this);

        /* 스페이스바 눌렀을때 실행 */
        if ( e.keyCode == 32) {

            var tagValue = self.val(); // 값 가져오기

            // 해시태그 값 없으면 실행X
            if (tagValue !== "") {

                // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
                var result = Object.values(tag).filter(function (word) {
                    return word === tagValue;
                })
            
                // 해시태그가 중복되었는지 확인
                if (result.length == 0) { 
                    $("#tag-list").append("<span class='tag-item'>"+tagValue+"<span class='del-btn' idx='"+counter +"'> x </span></span>");
                    addTag(tagValue);
                    self.val("");
                } else {
                    alert("태그값이 중복됩니다.");
                }
            }
            e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
        }
    });

    // 삭제 버튼 
    // 인덱스 검사 후 삭제
    $(document).on("click", ".del-btn", function (e) {
        var index = $(this).attr("idx");
        tag[index] = "";
        $(this).parent().remove();
    });
})
	
	
function openDestinationForm(){
	window.open("/community/selectDestination", "장소찾기", "left=50%, top=50%, width=1000, height=510")
}

function checkValues(){
	let title = document.getElementById('title');
	let content = document.getElementById('content');

	if ( title.value.trim().length == 0){
		alert('제목을 입력해 주세요.');
		title.focus();
		return false;
	
	}
	if ( content.value.trim().length == 0){
		alert('내용을 입력해 주세요.');
		content.focus();
		return false;
	}
}
</script>
</html>