<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>

	<form action = "classWrite" method = "POST" onsubmit = "return checkValues();" enctype = "multipart/form-data">
		<table>
			<tr>
				<th>약속장소</th>
				<td>
					<input type="text" id="address_kakao" name="destination" readonly>
				</td>
				<td>
					<input type="button" value="지도 참고하기" onclick="openDestinationForm();">
				</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>
					<input type = "text" name = "title" id = "title">
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea id = "content" name = "content"></textarea>
				</td>
			</tr>
			<tr>
                	<input  type="hidden" name="classTag" id="tagList" value="">
				
				<ul id="tag-list"></ul>

				<div class="form-group">
					<input type="text" id="tag" size="7"
					placeholder="스페이스바로 해시태그를 등록해주세요." style="width: 300px;" />
				</div>
			</tr>
			<tr>
				<th>인원(본인포함!)</th>
				<td>
					<input type="number" min="2" name="totalMember" value="2">
				</td>
			</tr>
			<tr>
				<th colspan = "2">
					<input type = "submit" value = "글쓰기">
				</th>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td>
					<input type = "file" name = "file" >
				</td>
			</tr>
		</table>
	</form>
	
	
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("#title").focus(); //상세입력 포커싱
            }
        }).open();
    });
}

// 해시태그
$(document).ready(function () {
    var tag = {};
    var counter = 0;

	    
    // 입력한 값을 태그로 생성한다.
    function addTag (value) {
        tag[counter] = value;
        counter++; 
    	
    }

    function marginTag () {
        return Object.values(tag).filter(function (word) {
            return word !== "";
        });
    }

    $("#tag").on("keyup", function (e) {
        var value = marginTag(); // return array
        $("#tagList").val(value); 
    });
    
    $("#tag").on("keypress", function (e) {
        var self = $(this);

        /* 스페이스바 눌렀을때 실행 */
        if ( e.keyCode == 32) {

            var tagValue = self.val(); // 값 가져오기

            // 해시태그 값 없으면 실행X
            if (tagValue !== "") {

                // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
                var result = Object.values(tag).filter(function (word) {
                    return word === tagValue;
                })
            
                // 해시태그가 중복되었는지 확인
                if (result.length == 0) { 
                    $("#tag-list").append("<li class='tag-item'>"+tagValue+"<span class='del-btn' idx='"+counter+"'>x</span></li>");
                    addTag(tagValue);
                    self.val("");
                } else {
                    alert("태그값이 중복됩니다.");
                }
            }
            e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
        }
    });

    // 삭제 버튼 
    // 인덱스 검사 후 삭제
    $(document).on("click", ".del-btn", function (e) {
        var index = $(this).attr("idx");
        tag[index] = "";
        $(this).parent().remove();
    });
})
	
	
function openDestinationForm(){
	window.open("/community/selectDestination", "장소찾기", "left=50%, top=50%, width=1000, height=510")
}

function checkValues(){
	let title = document.getElementById('title');
	let content = document.getElementById('content');

	if ( title.value.trim().length == 0){
		alert('제목을 입력해 주세요.');
		title.focus();
		return false;
	
	}
	if ( content.value.trim().length == 0){
		alert('내용을 입력해 주세요.');
		content.focus();
		return false;
	}
}
</script>
</html>