<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/community/communityRead.css">
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					ㄹ고
				</a>
				<a th:href="@{/delivery/indexqwe}" class="header-toAnother" >
					배달로~
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/user/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/user/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/user/mypage}">
							회원정보
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">

						<!-- 썸네일 -->
						<div class="storeThumbnail">
							<span class="storename">&nbsp;&nbsp;가게이름</span>
							<div>
							<img alt="가게이미지" src="/images/다운로드.gif" class="brandImg">
							<span class="storeInfo">Lolem believed Professor Zaroff's
								promise to raise the city above the sea was the fulfilment of
								Amdo's prophecy. He tried to sacrifice the Second Doctor and
								his companions to his goddess. They were rescued by Zaroff, but
								later Zaroff gave the Doctor and Ramo to Lolem to sacrifice
								them to Amdo. When the goddess appeared to speak, Lolem and the
							</span>
							</div>
						</div>
						
						<!-- ajax로 리뷰랑 메뉴 보여주는 리스트  -->
						<div>
						
						</div>

						<!-- 메뉴 및 리뷰 -->
						<div class="menuAndReview">
							<ul class="menuAndReviewList">
								<li>
									<a>
										메뉴
									</a>
								</li>
								<li>
									<a>
										리뷰
									</a>
								</li>
								<li>
									<a>
										가게정보
									</a>
								</li>
							</ul>
						</div>
						<!-- ajax로 리뷰랑 메뉴 보여주는 리스트  -->
						<div>
						ajax로 보여주기
						</div>
						
					</div>
				</div>	
			</div>		
		
		</section>

	</div>

	<footer>
		
	</footer>
</body>
</html>