<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/community/communityRead.css">
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					ㄹ고
				</a>
				<a th:href="@{/delivery/indexqwe}" class="header-toAnother" >
					배달로~
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/user/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/user/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/user/mypage}">
							회원정보
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<div class="mapInfo">
							<img alt="" src="/images/다운로드.gif"  class="mapImg">
							<div>
								<p>우리집으로부터 몇 미터</p>
							</div>
						</div>
						<div class="partyJoinOut">
							<div>
								<a href="">참여하기</a> 
							</div> 
							<div>
								<a href="">나가기</a> 
							</div> 
						</div>
						<div class="menuImg">
							<img alt="" src="/images/다운로드.gif"  class="mapImg">
							
						</div>
						
						<div class="participient">
							참가자ajax
						</div>
					</div>
				</div>	
			</div>		
		
		</section>

	</div>

	<footer>
		
	</footer>
</body>
</html>