<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/community/index.css">
<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
   <script type="text/javascript">
   		$(document).ready(function() {
   			$("#party").hide();
   			party();
   			realtimeboard();
   		});
   		
   		
   		function goClass(classNum) {
   			location.href="read?num=" + classNum;
   		}
   		
   		
   		
   		// 1002 추가
   		function goFbRead(boardNum) {
   			location.href="fbRead?num=" + boardNum;
   		}
   		
   		// 0930 추가 1002 추가
   		function realtimeboard() {
   			$.ajax({
   				url : "realtimeboard",
   				type : "get",
   				success : function(data) {
   					
					let htmlStr = "<h1 style='text-align:center' class='rankTitle'>조회수 순위</h1><ul>";
					
					$.each(data, function(index, item) {
						if(index <= 9) {
			                  if ( index <=2 ){
			                     
			                     htmlStr += "";
			                     htmlStr += "<li class='top3Stores' onclick='goFbRead(" + item.boardNum + ")'>"+  "<img src='' id='realtime" + index + "'>  "  + "<span style='display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;' >" + item.title +"</span>" + "</li>";
			                  }else {
			                     
			                     htmlStr += "<li class='underTop3' onclick='goFbRead(" + item.boardNum + ")'>" + (index+1)+"위 " +item.title + "</li>";
			                  }
			               }
					});
					htmlStr += "</ul>";
	   				$("#realtime").html(htmlStr);
	   				
	   				for ( let i =0; i<=2; i++){
						let img_src = "/images/rank/rank"+ (i+1) + ".png";
						document.getElementById("realtime"+i).src = img_src;
						document.getElementById("realtime"+i).style.width="30px";
						document.getElementById("realtime"+i).style.width="30px";
					}	
   				}
   			});
   			
   		}
   		
   		
   		
   		function checkJoinedParty() {
   			let memberId = $("#loginUser").val();
   			console.log(memberId);
   			
   			$.ajax({
   				url : "checkJoinedParty",
   				type : "get",
   				data : {"memberId" : memberId},
   				success : function(data) {
   					console.log(data);
   					if(data == "") {
	   					location.href='classWrite';
   					} else {
   						alert("이미 참여한 파티가 있습니다.");
   					}
   				}
   			});
   		}
   		
   		// 0923 추가
   		function party() {
   			let memberId = $("#loginUser").val();
   			
   			$.ajax({
   				url : "checkJoinedParty",
   				type : "get",
   				data : {"memberId" : memberId},
   				success : function(data) {
   					console.log(data);
   					
   					if(data != "") {
   						$("#party").show();
   			   			
		   				realTimeParty();
		   				fullParty();
   			   				
   			   		
   					} 
   				}
   			});
   		}
   		
   		// 0922 추가
   		function realTimeParty() {
   			
   			$.ajax({
   				url : "realTimeParty",
   				type : "get",
   				success : function(data) {
   					console.log(data.length);
   					htmlLength =  data.length;
   					
   					$("#realTimeParty").text(data.length);
   				}
   			});
   		}
   		
   		// 0922 추가
   		function fullParty() {
   			
   			$.ajax({
   				url : "fullParty",
   				type : "get",
   				success : function(data) {
   					console.log(data);
   					$("#partyTitle").text(data.title);
   					$("#fullParty").text(data.totalMember);
   				}
   			});
   		}
   </script>
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo"></a> 
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/login}"> 로그인 </a></li>
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/join}"> 회원가입 </a></li>
				<li sec:authorize="isAuthenticated"><a th:href="@{/logout}">
						로그아웃 </a></li>
				<li sec:authorize="isAuthenticated">
					<a th:href="|@{/member/mypage}?num=${member.memberNum}|"> 회원정보 </a>
				</li>
				<li>	
					<a th:href="@{/delivery/index}"> 배달</a>
				</li>
				</ui>

			</div>
		</header>

		<section>
			<div class="section-container">

				<div id="spaceDiv"></div>

				<aside>
					<div class="aside-left">
						<ul>
							<li><b>이동하기</b></li>
							<li>
								<a th:href="@{/community/index}">메인</a>
							</li>
							<li>
								<a th:href="@{/community/partyIndex}">모임 게시판</a>
							</li>
							<li>
								<a th:href="@{/community/freeIndex}">자유 게시판</a>
							</li>
							<li>
								<p>
									 <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
									    파티 참가 현황 확인
									 </a>
								</p>
							</li>
						</ul>
							
							<div class="collapse" id="collapseExample">
							  <div class="card card-body">
							    <div id="party">
									<h3>파티참여현황</h3>
									<h3 id="partyTitle"></h3>
									<span id="realTimeParty">
									
									</span>
									<span>/</span>
									<span id="fullParty"></span>
								</div>   
							  </div>
							</div>
					</div>
				</aside>

				<aside>
					<div class="aside-right">
						<!-- 실시간 키워드(aJax)  -->
						<div id="realtime">
							실시간 키워드(aJax)
						</div>
						
						
					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<!--  ajax로 글보여주기 -->
						<div class="write-container">
							<div class="partyWrite">
								<table class="table table-hover">
									<thead>
										<tr>
											<th colspan="3">
												<a th:href="@{partyIndex}">
													실시간 모임 구직
												</a>
											</th>
										</tr>
										<tr>
											<th>작성자</th>
											<th>제목</th>
											<th>작성일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${cbList}" th:onclick="|goClass(${list.classNum});|">
											<td th:text="${list.nickname}"></td>
											<td class="btilte">
												<span th:text="${list.title}"
													style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;">
												</span>
											</td>
											<td th:text="${list.inputdate}"></td>
										</tr>
									</tbody>	
								</table>
							</div>
							<div class="freeWrite">
								<table class="table table-hover" >
									<thead>
										<tr>
											<th colspan="3">
												<a th:href="@{freeIndex}">
													실시간 게시글
												</a>
											</th>
										</tr>
										<tr>
											<th>작성자</th>
											<th>제목</th>
											<th>작성일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${fbList}" th:onclick="|goFbRead(${list.boardNum});|">
											<td th:text="${list.nickname}"></td>
											<!--
											 -->
											<td class="btilte">
												<span th:text="${list.title}"
													style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;">
												</span>
											</td>
											<td th:text="${list.inputdate}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		<input type = "hidden" id = "loginUser" th:value = "${#authentication.getPrincipal().getUsername()}">
		</section>
	</div>

	<footer> </footer>
	
</body>
</html>