<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/community/communityIndex.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
   <script type="text/javascript">
   		$(document).ready(function() {
   			$("#party").hide();
   			party();
   		});
   		
   		// 0930 추가
   		function realtimeboard() {
   			
   			
   			$("#realtime").html(htmlStr);
   		}
   		
   		
   		
   		function checkJoinedParty() {
   			let memberId = $("#loginUser").val();
   			console.log(memberId);
   			
   			$.ajax({
   				url : "checkJoinedParty",
   				type : "get",
   				data : {"memberId" : memberId},
   				success : function(data) {
   					console.log(data);
   					
   					if(data == "") {
	   					location.href='classWrite';
   					} else {
   						alert("이미 참여한 파티가 있습니다.");
   					}
   				}
   			});
   		}
   		
   		// 0923 추가
   		function party() {
   			let memberId = $("#loginUser").val();
   			
   			$.ajax({
   				url : "checkJoinedParty",
   				type : "get",
   				data : {"memberId" : memberId},
   				success : function(data) {
   					console.log(data);
   					
   					if(data != "") {
   						$("#party").show();
   			   			
		   				realTimeParty();
		   				fullParty();
   			   				
   			   		
   					} 
   				}
   			});
   		}
   		
   		// 0922 추가
   		function realTimeParty() {
   			
   			$.ajax({
   				url : "realTimeParty",
   				type : "get",
   				success : function(data) {
   					console.log(data.length);
   					htmlLength =  data.length;
   					
   					$("#realTimeParty").text(data.length);
   				}
   			});
   		}
   		
   		// 0922 추가
   		function fullParty() {
   			
   			$.ajax({
   				url : "fullParty",
   				type : "get",
   				success : function(data) {
   					console.log(data);
   					$("#partyTitle").text(data.title);
   					$("#fullParty").text(data.totalMember);
   					
   				}
   			});
   			
   		}
   </script>
   <style>
   		#party{
   			background-color: yellow;
   		}
   </style>
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo"> asdxx </a> <a
					th:href="@{/delivery/index}" class="header-toAnother"> 배달로~qwe
				</a>
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/login}"> 로그인 </a></li>
				<li sec:authorize="not isAuthenticated"><a
					th:href="@{/member/join}"> 회원가입 </a></li>
				<li sec:authorize="isAuthenticated"><a th:href="@{/logout}">
						로그아웃 </a></li>
				<li sec:authorize="isAuthenticated">
					<a th:href="|@{/member/mypage}?num=${member.memberNum}|"> 회원정보 </a>
				</li>
				</ui>

			</div>
		</header>

		<section>
			<div class="section-container">

				<div class="searchBar-wrapper">
					<div class="container-searchBar">
						<input class="searchBar" type="text" name="searchWord"
							th:value="${searchWord}" id="searchWord" placeholder="메뉴검색">
						검색
					</div>
				</div>


				<aside>
					<div class="aside-left">
						<ul>
							<li>
								<a th:href="@{/community/partyIndex}">모임 게시판</a>
							</li>
							<li>
								<a th:href="@{/community/freeIndex}">자유 게시판</a>
							</li>
							<li>고</li>
							<li>리</li>
						</ul>
					</div>
				</aside>

				<aside>
					<div class="aside-right">
						<!-- 실시간 키워드(aJax)  -->
						<div id="realtime">
							실시간 키워드(aJax)
						</div>
						
						<div id="party">
								<h2>파티현황</h2>
								<h3 id="partyTitle"></h3>
								<span id="realTimeParty">
								
								</span>
								<span>/</span>
								<span id="fullParty"></span>
							</div>
					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<div class="boardBox">
							<a th:href="@{partyIndex}">
								<div>실시간 모임 구직</div>
							</a>
							<a th:href="@{freeIndex}">
								<div>실시간 게시글</div>
							</a>
						</div>
						<!--  ajax로 글보여주기 -->
						<div class="write-container">
							<div class="partyWrite">
								<table>
									<tr>
										<th>작성자</th>
										<th>제목</th>
										<th>작성일</th>
									</tr>
									<tr th:each="list : ${cbList}">
										<td th:text="${list.nickname}"></td>
										<td>
											<a th:href="@{|read?num=${list.classNum}|}">
												<span th:text="${list.title}"
												style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;">
												</span>
											</a>
										</td>
										<td th:text="${list.inputdate}"></td>
									</tr>
								</table>
							</div>
							<div class="freeWrite">
								<table>
									<tr>
										<th>작성자</th>
										<th>제목</th>
										<th>작성일</th>
										<th>조회수</th>
									</tr>
									<tr th:each="list : ${fbList}">
										<td th:text="${list.nickname}"></td>
										<!--
										 -->
										<td>
											<a th:href="@{|fbRead?num=${list.boardNum}|}">
												<span th:text="${list.title}"
												style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 13ch;">
												</span>
											</a>
										</td>
										<td th:text="${list.inputdate}"></td>
										<td th:text="${list.viewCount}"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<input type="button" value="글쓰기" class="write-btn" onclick="javascript:location.href='classWrite'">
				</div>
				
				
			</div>
				
				
			</div>
		</section>
		<input type = "hidden" id = "loginUser" th:value = "${#authentication.getPrincipal().getUsername()}">
	</div>

	<footer> </footer>
	
</body>
</html>