<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/community/communityRead.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<style>
	table {
		border : 1px solid black;
		background-color : aqua;
		width:100%;
		margin:10px;
	}	
	
	
</style>
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					ㄹ고
				</a>
				<a th:href="@{/delivery/index}" class="header-toAnother" >
					배달로~
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/mypage}">
							회원정보
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class="section-container">
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

						
					</div>
				</aside>

				<div class="aside-center">
					<div class="section-center">
						<div class="mapInfo">
							<div id="map" class="mapImg"></div>
							<div>
								<p id="m">우리집으로부터 몇 미터<input type="button" id="btn" value="목적지까지 거리보기"></p>
								
								<input type="hidden" th:value="${cBoard.destination}" id="destination">
								<input type="hidden" th:value="${member.address}" id="myAddress">
								<input type="hidden" value="" id="x1">
								<input type="hidden" value="" id="x2">
								<input type="hidden" value="" id="y1">
								<input type="hidden" value="" id="y2">
							</div>
						</div>
						<div class="partyJoinOut">
							<div>
								<a onclick="joinParty()">참여하기</a> 
							</div> 
							<div>
								<a onclick="withdrawalParty()">나가기</a> 
							</div> 
						</div>
						<div class="menuImg">
							<div th:text="${cBoard.classTag}"></div>
						</div>
						
						<div class="participient">
							참가자ajax
						</div>
					</div>
				</div>	
			</div>		
		
		</section>

	</div>
	
	<footer>
		
	</footer>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6e7c79dc40e0d0df1bb9a7bb0628d68a&libraries=services"></script>
<script src="/js/community/read.js"></script>
	
</body>
</html>