<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.abc.dao.GuestbookDAO 인터페이스와 매핑됨 -->
<mapper namespace="com.abc.dao.DeliveryDAO">

	<!-- 상품 정보 등록 쿼리 -->
	<insert id="insertStore" parameterType="Store">
		INSERT INTO STORE(
			STORENUM,
			MEMBERNUM,
			STORENAME,
			STORECONTENT,
			CATEGORY,
			ADDRESS,
			PHONE
			<!-- 첨부파일 정보가 있을때 -->
			<if test = "originalFile != null and savedFile != null">
				, ORIGINALFILE
				, SAVEDFILE
			</if>
		)
		VALUES (
			STORE_SEQ.NEXTVAL,
			#{memberNum},
			#{storeName},
			#{storeContent},
			#{category},
			#{address},
			#{phone}
			<!-- 첨부파일 정보 유무 확인 -->
			<if test = "originalFile != null and savedFile != null">
				, #{originalFile}
				, #{savedFile}
			</if>
		)
	</insert>
	
	<select id="selectSearch" parameterType="map" resultType="Store">
	SELECT * FROM
	STORE
	WHERE WAITING = 'N' 
	<if test="category == 'all'">
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "1"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "2"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "3"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "4"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "5"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "6"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	<if test = 'category eq "7"'>
		AND CATEGORY = #{category}
		AND STORENAME LIKE '%'||#{searchKeyword}||'%'
	</if>
	
	</select>
		
	<select id="selectOneStore" parameterType="int" resultType="Store">
		SELECT * FROM
		STORE
		WHERE STORENUM = #{storeNum}
	</select>
	
	<update id="updateRating" parameterType="Store">
		UPDATE STORE
		SET RATING = #{rating}
		WHERE STORENUM = #{storeNum}
	</update>
	
	<select id="selectStoreRank" resultType="Store">
		SELECT * FROM STORE
		ORDER BY WISHLIST DESC
	</select>
	
	<select id="selectMemberOne" parameterType="int" resultType="Store">
		SELECT * FROM
		STORE
		WHERE MEMBERNUM = #{memberNum}
	</select>
	
	
	<!-- 상품 정보 등록 쿼리 -->
	<insert id="insertItem" parameterType="Item">
		INSERT INTO ITEM_TABLE(
			ITEMNUM,
			STORENUM,
			ITEMNAME,
			ITEMCONTENT,
			ITEMPRICE
			<!-- 첨부파일 정보가 있을때 -->
			<if test = "originalFile != null and savedFile != null">
				, ORIGINALFILE
				, SAVEDFILE
			</if>
		)
		VALUES	(
			ITEM_SEQ.NEXTVAL,
			#{storeNum},
			#{itemName},
			#{itemContent},
			#{itemPrice}
			<!-- 첨부파일 정보 유무 확인 -->
			<if test = "originalFile != null and savedFile != null">
				, #{originalFile}
				, #{savedFile}
			</if>
		)
	</insert>
	
	<select id="selectItemSearch" parameterType="map" resultType="Item">
		SELECT * FROM
		ITEM_TABLE
	 	WHERE STORENUM = #{storeNum}
		<if test = 'title != null'>
			AND ITEMNAME LIKE '%'||#{title}||'%'
		</if>
	</select>
	
	<select id="selectOneItem" parameterType="int" resultType="Item">
		SELECT * FROM
		ITEM_TABLE
		WHERE ITEMNUM = #{itemNum}
	</select>
	
	<insert id="insertOrder" parameterType="Order">
		INSERT INTO ORDER_TABLE(
			ORDERNUM,
			MEMBERNUM,
			ITEMNUM,
			STORENUM,
			ITEMNAME,
			ITEMPRICE
		)
		VALUES(
			ORDER_SEQ.NEXTVAL,
			#{memberNum},
			#{itemNum},
			#{storeNum},
			#{itemName},
			#{itemPrice}
		)
	</insert>
	
	<select id="selectMyOrder" parameterType="map" resultType="Order">
		SELECT * FROM
		ORDER_TABLE
		WHERE STORENUM = #{storeNum} AND MEMBERNUM = #{memberNum}
		AND COMPLETE = 'N'
	</select>

	<select id="selectMyOrders" parameterType="int" resultType="Order">
		SELECT * FROM
		ORDER_TABLE
		WHERE MEMBERNUM = #{memberNum}
		AND COMPLETE = 'N'
	</select>
	
	<select id="selectOneOrder" parameterType="int" resultType="Order">
		SELECT * FROM
		ORDER_TABLE
		WHERE ORDERNUM = #{orderNum}
	</select>
	
	
	<update id="plusOrder" parameterType="Order">
		UPDATE ORDER_TABLE
		SET QUANTITY = QUANTITY + 1
		WHERE ORDERNUM = #{orderNum}
	</update>
	
	<update id="minusOrder" parameterType="Order">
		UPDATE ORDER_TABLE
		SET QUANTITY = QUANTITY - 1
		WHERE ORDERNUM = #{orderNum}
	</update>
	
	<select id="paymentOrder" resultType="int" parameterType="map">
		SELECT SUM(ITEMPRICE * quantity)
		FROM ORDER_TABLE
		WHERE COMPLETE = 'N' 
		AND MEMBERNUM = #{memberNum}
		AND STORENUM = #{storeNum}
	</select>
	
	<delete id="deleteOrder" parameterType="int">
		DELETE FROM ORDER_TABLE
		WHERE ORDERNUM = #{orderNum}
	</delete>
	
	<update id="completeOrder" parameterType="int">
		UPDATE ORDER_TABLE
		SET COMPLETE = 'Y'
		WHERE ORDERNUM = #{orderNum}
	</update>
	
	<insert id="insertReceipt" parameterType="Receipt">
		INSERT INTO RECEIPT(
			RECEIPTNUM,
			MEMBERNUM,
			STORENUM,
			ORDERHISTORY,
			TOTALAMOUNT
		)
		VALUES(
			RECEIPT_SEQ.NEXTVAL,
			#{memberNum},
			#{storeNum},
			#{orderHistory},
			#{totalAmount}
		)
	</insert>
	
	<select id="selectReceipt" parameterType="int" resultType="Receipt">
		SELECT * FROM
		RECEIPT
		WHERE MEMBERNUM = #{memberNum}
	</select>
	
	<select id="selectReceiptByReceiptNum" parameterType="int" resultType="Receipt">
		SELECT * FROM
		RECEIPT
		WHERE RECEIPTNUM = #{receiptNum}
	</select>
	
	<select id="selectReceiptByStoreNum" parameterType="int" resultType="Receipt">
		SELECT * FROM
		RECEIPT
		WHERE STORENUM = #{storeNum} AND WAITING = 'N'
	</select>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW(
			REVIEWNUM,
			MEMBERNUM,
			STORENUM,
			RECEIPTNUM,
			NICKNAME,
			ORDERHISTORY,
			RATING,
			REVIEWCONTENT
		)
		VALUES(
			REVIEW_SEQ.NEXTVAL,
			#{memberNum},
			#{storeNum},
			#{receiptNum},
			#{nickname},
			#{orderHistory},
			#{rating},
			#{reviewContent}
		)
	</insert>
	
	<select id="selectReviews" parameterType="int" resultType="Review">
		SELECT * FROM
		REVIEW
		WHERE STORENUM = #{storeNum}
	</select>
	
	<select id="selectReviewsByReceiptNum" parameterType="int" resultType="Review">
		SELECT * FROM
		REVIEW
		WHERE RECEIPTNUM = #{receiptNum}
	</select>
	
	<select id="selectReviewsByMemberNum" parameterType="int" resultType="Review">
		SELECT * FROM
		REVIEW
		WHERE MEMBERNUM = #{memberNum}
	</select>
	
	
	
	<insert id="insertWishlist" parameterType="Wishlist">
		INSERT INTO WISHLIST(
			MEMBERNUM,
			MEMBERID,
			STORENUM
		)
		VALUES(
			#{memberNum},
			#{memberId},
			#{storeNum}
		)
	</insert>
	
	<select id="selectWishlist" parameterType="map" resultType="Wishlist">
		SELECT * FROM
		WISHLIST
		WHERE STORENUM = #{storeNum} AND MEMBERNUM = #{memberNum}
	</select>
	
	<delete id="deleteWish" parameterType="map">
		DELETE FROM WISHLIST
		WHERE STORENUM = #{storeNum} AND MEMBERNUM = #{memberNum}
	</delete>
	
	<update id="plusWishlist" parameterType="int">
		UPDATE STORE
		SET WISHLIST = WISHLIST + 1
		WHERE STORENUM = #{storeNum}
	</update>
	
	<update id="minusWishlist" parameterType="int">
		UPDATE STORE
		SET WISHLIST = WISHLIST - 1
		WHERE STORENUM = #{storeNum}
	</update>
	
	
	
	
</mapper>

