<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abc.dao.ExpBoardDAO">
<!--
레벨 게시판(관리자) 관련 쿼리
 -->
 	<!-- 경험치 등록하기 -->
	<insert id = "insertExpBoard" parameterType = "ExpBoard">
		INSERT INTO EXP_TABLE(
			USERLEVEL,
			USEREXP	
		) VALUES (
			#{userLevel},
			#{userExp}
		)
	</insert>
	
	<select id="getLevelList" resultType="ExpBoard">
		SELECT 
			*
		FROM
			EXP_TABLE
		ORDER BY USERLEVEL DESC
	</select>
</mapper>

