<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abc.dao.FileDAO">

	<insert id="insertFile" parameterType="FileDTO">
	
		<selectKey resultType="int" keyProperty="boardNum" order="BEFORE">
				SELECT MAX(BOARDNUM) FROM FREE_BOARD
		</selectKey>
		INSERT INTO multi_file_table_of_free_board (
			FILENUM,
		    BOARDNUM,
		    ORIGINALFILE,
		    SAVEDFILE,
		    FILESIZE
		) 
		VALUES
		(
			file_table_seq_of_free_board.nextval,
			#{boardNum},
			#{originalName},
			#{saveName},
			#{fileSize}
		)
	</insert>

	<select id="selectOneFile" parameterType="long" resultType="FileDTO">
		SELECT
			FILENUM AS fileNum,
		    BOARDNUM AS boardNum,
		    ORIGINALFILE AS originalName,
		    SAVEDFILE AS saveName,
		    FILESIZE AS fileSize
		FROM
			multi_file_table_of_free_board
		WHERE
			FILENUM = #{fileNum}
	</select>

	<delete id="deleteFile" parameterType="int">
		delete multi_file_table_of_free_board
		
		WHERE
			boardNum = #{boardNum}
	</delete>

	<select id="selectFileList" parameterType="int" resultType="FileDTO">
		SELECT
			FILENUM AS fileNum,
		    BOARDNUM AS boardNum,
		    ORIGINALFILE AS originalName,
		    SAVEDFILE AS saveName,
		    FILESIZE AS fileSize
		FROM
			multi_file_table_of_free_board
		WHERE
			delete_yn = 'N'
		AND
			boardNum = #{boardNum}
	</select>

	<select id="selectFileTotalCount" parameterType="long" resultType="int">
		SELECT
			COUNT(*)
		FROM
			multi_file_table_of_free_board
		WHERE
			delete_yn = 'N'
		AND
			boardNum = #{boardNum}
	</select>
	
</mapper>

