@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* { font-family: 'Noto Sans KR', sans-serif;}
body{
	margin : 0;
	padding : 0;
}

/*
	헤더css
*/
.header-container{
		width: 100%;
		height: 100px;
		background-color: #F9F7F7;
		position: relative;
}

.header-logo{
	 position : absolute;
   height : 100px;
   width : 170px;
   left : 5%;
   top: -2%;
   float: left;
   background: url(/../images/logo_height.png) no-repeat center;
   background-size: contain;
}	
.header-logMenuList{
	position: absolute;
	display : flex;
	right : 10%;
	list-style: none;
	text-decoration : none;
	top: 10%;
}
.header-logMenuList a{
	padding : 10px;
	text-align: center;
	justify-content: center;
	margin-right : 10px;
}

.header-logMenuList .logMenu1{
	color : black;
	border : 1px solid gray;
	border-radius: 20px;
}
.header-logMenuList .logMenu1:hover{
	color : white;
	background-color : black;
	transition : .4s;
	border-radius: 20px;
}
.header-logMenuList .logMenu2{
	color : white;
	background-color :#3F72AF;
	border-radius: 20px;
	border : 1px solid grey;
}
.header-logMenuList .logMenu2:hover{
	color : white;
	background-color : #2114DE;
	border-radius: 20px;
	transition : .4s;
}



.header-logMenuList li {
	margin-top : 20px;
	margin-right : 20px;
}
.header-logMenuList a {
	text-decoration: none;
	
}
/* 
	본문 섹션 css
 */
 .box-wrapper{
 	height: 100vh;
 	background-image : url("/images/indexImg.jpg");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
 }
 /* 1002 세련 패딩 값 수정함 */
 .title {
 	width: 100%;
 	margin : auto;
 	text-align: center;
 	font-size : 90px;
 	font-weight:bold;
 	font-style: normal;
 	color : #FFFFFF;
 	padding-top : 180px;
 	padding-bottom: 50px;
 	text-shadow:1px 1px 1px #000;
 	
 	
}
 .subtitle {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-style: oblique;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000;
}
 .deliveryBox{
 	position : absolute;
 	width: 150px;
 	height: 40px;
 	line-height : 35px;
 	color : black;
 	background-color : white;
 	text-shadow : 1px 1px 1px #000;
	margin-top:  5vh;
 	left : 40%;
 	border-radius: 10px;
 	text-align: center;
 	font-size: 25px;
 	font-weight: lighter;
 }	
 .deliveryBox:hover{
 	color:white;
 	background-color : #3F72AF;
 	transition : 0.4s;
 }
 .communityBox{
 	position : absolute;
 	width: 150px;
 	height: 40px;
 	line-height : 35px;
	margin-top:  5vh;
 	border-radius: 10px;
 	text-align: center;
 	right : 40%;
 	font-size: 25px;
 	background-color : #3F72AF;
 	color : #F9F7F7;
 	text-shadow:1px 1px 1px #000;
 }
 .communityBox:hover{
	color:black;
 	background-color : white;
 	transition : 0.4s;
 }
 
 
