<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>마이페이지</title>
 <link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg">
<link rel="stylesheet" href="/css/member/mypage.css">
<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
 	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
<style>
	[v-cloak] {
            display: none;
        }
        
    table {
    	border-bottom : 1px solid #F9F7F7;
    	border-spacing: 5px;
    }
    
	td {
      	padding-bottom: 5px;
 		padding-top: 5px;	
	}
	
	#contentBox1{
		width: 346px;
	}
	tr {
	margin-top: 20px;
	border-bottom: 1px solid #a8a8a8;
	} 
.replyList{
	text-align: inherit;
	text-align: -webkit-match-parent;
	
}	
.title1{
	width: 100%;
	padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 1px solid #a8a8a8;
 
}
.title4{
	width: 100%;
   	border-bottom: 1px solid #a8a8a8;
 
}
/*1001 세련 버튼 사이즈 수정함  */
/* 리뷰쓰기 버튼 */
.btn1{
	font-size: 15px;
	justify-content: right;
}
	
.first1 {
    padding-right: 6px;
    font-size: 14px;
}

.second1 {
	font-size: 15px;
}

.thrid1 {
    padding-right: 6px;
    font-size: 14px;
}
.fourth1{
 	padding-right: 6px;
    font-size: 14px;
}
.fifth1{
	padding-top:5px;
	padding-right: 6px;
    font-size: 14px;
}
	
.first{
	margin: 20px;
}
</style>
<script th:inline="javascript" src="/js/member/mypage.js">
</script>
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
				</a>
				
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/memberView/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/memberView/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
				</ui>

			</div>
		</header>
	
		<section>
			<div class= "section-container">
				<aside>
					<div class="aside-left">
						<div id="mainImage">
							
						</div>
						<img id="levelImg" src="">
						<input type="hidden" id="memberLevel" th:value="${member.memberLevel}">
						<h2 th:text="${memberPage.memberName}" class = "mbName"></h2>
						<div class = "expBar">
							<span class = "expBar"></span>
						</div>
							
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						  채팅걸기&#x1F4AC;
						</button>
						
						<div id="point">
						</div>
						
						<div id="menuList">
							<ul style="list-style-type:none;">
								<li id="wishlistBtn" class = "listul">
									찜 리스트
								</li>
								<li id="orderListBtn" class = "listul">
									주문 리스트
								</li>
								<li id="buyCouponsBtn" class = "listul">
									쿠폰 구매
								</li>
								<!-- 0930 세련 수정함 내 쿠폰 -> 나의 쿠폰으로 변경 -->
								<li id="myCouponListBtn" class = "listul">
									나의 쿠폰
								</li>
								<li id="sellerPageBtn" class = "listul">
									판매자 페이지
								</li>
								<li id="profileBtn"class = "listul">
									프로필 변경
								</li>
								<li id="updateMemberInfoBtn" class = "listul">
									<span onclick="javascript:location.href='/member/updateInfo'">
										회원정보 수정
									</span>
								</li>
								<li id="blockUserBtn" class = "listul">
									<span onclick ="javascript:location.href='/member/blockLogin'">
										탈퇴하기
									</span>
								</li>
							</ul>
						</div>	
					</div>
				</aside>
			<div class ="mainMypage">	
				<div class="aside-center">
					<div class="section-center">
						<h2 class= "mpTitle" th:text="|${member.memberName}님의 마이페이지|">마이페이지</h2>
							<div class="partyJoinOut">
									<span class = "sectitle">리뷰 모음</span>
							<div id="myReviewList" style="overflow:scroll; height:302px; width:300px;"></div>
							</div><!-- partyJoinOut 부분 끝 -->
							
							<div class="partyJoinOut2">
									<span class = "sectitle">방명록</span>
									<br>
									<div id="reList" class= "replyList" style="overflow:scroll; height:300px; width:650px;">
									
									</div>
									<div class = "contentBox">
										<!-- 1002 세련 수정함 placeholder 추가함  -->
										<input th:object = "${guestbook}" th:onclick = "${content}" name="content" id="content" class="content" placeholder="내용을 입력해주세요.">
										<button id = "btnReply_write" class = "btnBox">작성하기</button>
										<!-- <input type = "button" value = "수정하기" id = "btnReply_update"> -->
										<input type = "hidden" id = "loginUser" th:value = "${#authentication.getPrincipal().getUsername()}">
									</div>
							</div><!-- partyJoinOut2 부분 끝 -->
					</div><!-- section-center  -->
				</div><!--aside-center  -->
			</div>
		</div><!-- section-container -->
		</section>
		
		
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">채팅</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div class="container" id="app" v-cloak>
				    <div>
				        <h2>{{room.roomName}}</h2>
				    </div>
				    
				    <div class="input-group">
				        <div class="input-group-prepend">
				            <label class="input-group-text">내용</label>
				        </div>
				        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
				        <div class="input-group-append">
				            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
				        </div>
				    </div>
				    <div id="messageDiv">
					    <ul class="list-group">
					        <li class="list-group-item" v-for="message in messages">
					            {{message.sender}} - {{message.message}}
					            <button  v-on:click="reportMessage(message.sender, message.message)">신고하기</button>
					        </li>
					    </ul>
				    </div>
				    <div>
				    	<input type="hidden" id="loginUser" th:value="${#authentication.getPrincipal().getUsername()}">
				    	<input type="hidden" id="memberRoomId" th:value="${memberPage.roomId}">
				    	<input type="hidden" id="loginMember" th:value="${member.memberNum}">
				   		<input type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" name="reporter" id="reporter">
				    </div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div id="wishlistStore"></div>
		        <div id="buyCoupon">
		        <!-- 쿠폰 구매하기 -->
		        <!-- 0930 세련 수정함 table -> div / td -> span-->
						<div class = "couponCenter" th:each="cList : ${cList}">
									<span class = "fifth1" th:text="${cList.couponNum}"></span>
									<span class = "fifth1" th:text="|『${cList.couponName}』|"></span>
									<span class = "fifth1" th:text="|${cList.couponPoint}원|"></span>
									<input type="button" class= "cpBtn" th:onclick="|buyCoupon(${cList.couponNum})|" value="구매하기">
						</div><!-- couponCenter 부분 끝 -->
		        </div><!-- buyCoupon 끝 -->
		        <div id="couponList"></div>
		        <div id="orderList"></div>
		        
		        <div id="reviewModal">
		        	<form action="myCompleteOrderList" method="post">
				        <div id="starPoint">
				        	  <!-- 1002 세련 수정함 -->
				        	<label for="oneStar" class = "reviewScore">1</label>
				        	<input type="radio" id="oneStar" value="1" name="rating" class = "rating">
				        	<label for="twoStar" class = "reviewScore">2</label>
				        	<input type="radio" id="twoStar" value="2" name="rating" class = "rating"> 
				        	<label for="threeStar" class = "reviewScore">3</label>
				        	<input type="radio" id="threeStar" value="3" name="rating" class = "rating">
				        	<label for="fourStar" class = "reviewScore">4</label>
				        	<input type="radio" id="fourStar" value="4" name="rating" class = "rating">
				        	<label for="fiveStar" class = "reviewScore">5</label>
				        	<input type="radio" id="fiveStar" value="5" name="rating" class = "rating">
				        </div>
				        <input type="hidden" id="hiddenStoreNum" value="" name="storeNum">
				        <input type="hidden" id="hiddenReceiptNum" value="" name="receiptNum">
				    	<div class="mb-3">
				    	<!-- 1002 세련 수정함 -->
				        	<label for="message-text" class="col-form-label">리뷰</label>
				            <textarea class="form-control" id="message-text" name="reviewContent" placeholder="리뷰를 남겨주세요."></textarea>
				        </div>
					    <div class="modal-footer">
					    	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					    	<button type="submit" class="btn btn-primary">리뷰 남기기</button>
					    </div>
	        		</form>
		        </div>
		        <div id="profileModal">
		        	<form action="updateImage" method="post" enctype="multipart/form-data">
		        		<input type="file" name="file" id="uploadFile">
		        		<input type="hidden" value="" id="hiddenMypage" name="memberId">
		        		<input type="submit" value="업로드" id="uploadBtn">
		        	</form>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>

	<footer>
		
	</footer>
<script>
    var input = document.getElementById("content");

    input.addEventListener("keyup", function (event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("btnReply_write").click();
      }
    });
</script>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: '',
            message: '',
            messages: []
        },
        created() {
        	var rId = $("#memberRoomId").val();
            var loginUser = $("#loginUser").val();
            this.roomId = rId;
            this.sender = loginUser;
            	//localStorage.getItem('wschat.sender');
            this.findRoom();
        },
        methods: {
            findRoom: function() {
                axios.get('/chat/room/'+this.roomId).then(response => { this.room = response.data; });
            },
            sendMessage: function() {
                ws.send("/app/chat/message", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:this.message}));
                this.message = '';
            },
            recvMessage: function(recv) {
                this.messages.unshift({"type":recv.type,"sender":recv.type=='ENTER'?'[알림]':recv.sender,"message":recv.message})
            },
            reportMessage : function(sender, message) {
                console.log(sender);
                console.log(message);
                let reporter = $("#reporter").val();
                console.log(reporter);
                ws.send("/app/chat/report", {}, JSON.stringify({type:'TALK', roomId:this.roomId, sender:this.sender, message:message, reporter:reporter}));
                this.message='';
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/topic/chat/room/"+vm.$data.roomId, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/app/chat/message", {}, JSON.stringify({type:'ENTER', roomId:vm.$data.roomId, sender:vm.$data.sender}));
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    connect();
</script>

</body>
</html>