<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<th>계정</th>
			<th>신고사유</th>
			<th>신고자</th>
			<th>정지일</th>
		</tr>
		<tr th:each="list : ${bannedList}">
				<td th:text="${list.memberId}" ></td>
				<td th:text="${list.message}" ></td>
				<td th:text="${list.reporter}" ></td>
				<td th:text="${list.inputdate}" ></td>
				<td>
					 <a th:href="@{|/master/unbanMember?memberId=${list.memberId}|}">계정복구</a>
				</td>
		</tr>
		<tr th:if = "${bannedList.size()==0}">
			<td  colspan="6">
				<p>밴 리스트가 없습니다</p>
			</td>
		</tr>
	</table>
</body>
</html>