<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>쿠폰 구매하기 페이지(수정 중)</title>
<link rel="stylesheet" href="/css/coupon/insertCoupon_style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<style>
	table {
		border : 1px solid black;
		background-color:aqua;
		margin : 20px;
		width: 200px;
		
	}
</style>

<script>
	
	$(document).ready(function() {
		
	});
	
	function buyCoupon(couponNum) {
		
		$.ajax({
			url : "buyOneCoupon",
			type : "get",
			data : {"couponNum" : couponNum},
			success : function(data) {
				alert("상품을 구입하셨습니다.");
			}
		});
	}
</script>
</head>
<body>
	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					asd
				</a>
			
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/updateInfo}">
							회원정보
						</a>
					</li>
				</ui>
			</div>
			<!-- header-container 부분 끝 -->
		</header>
		
		<section>
			<div class = "section-container">
				<aside>
					<div class="aside-left">

					</div>
				</aside>
				
				<aside>
					<div class="aside-right">

					</div>
				</aside>
			
				
				
				<div class = "aside-center">
					<h2>쿠폰 구매하기</h2>
						<div class = "section-center">
							<table th:each="cList : ${cList}">
								<tr>
									<th th:text="${cList.couponNum}"></th>
								</tr>
								<tr>
									<th th:text="${cList.couponName}"></th>
								</tr>
								<tr>
									<th th:text="|${cList.couponPoint}원|"></th>
								</tr>
								<tr>
									<th>
										<input type="button" th:onclick="|buyCoupon(${cList.couponNum})|" value="button">
									</th>
								</tr>
							</table>
						
						</div><!-- section-center 부분 끝 -->
				</div><!-- aside-center 부분 끝 -->
			</div><!-- section-container 부분 끝 -->
		</section> <!-- section 부분 끝 -->
		</div> <!-- headerAndSection-wrapper 부분 끝 -->
	<!-- 풋터 시작  -->
	<footer>
		
	</footer>
	<!-- script 시작  -->
	<script>
	
	</script>
</body>
</html>