<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<th>신고번호</th>
			<th>처벌대상ID</th>
			<th>메세지</th>
			<th>신고자</th>
			<th>방ID</th>
			<th>신고일시</th>
		</tr>
		<tr th:each="list : ${cmList}">
				<td th:text="${list.reportNum}" ></td>
				<td th:text="${list.sender}" ></td>
				<td th:text="${list.message}" ></td>
				<td th:text="${list.reporter}" ></td>
				<td th:text="${list.roomId}"></td>
				<td th:text="${list.inputdate}"></td>
				<td>
					<a th:href="@{|/master/handleReport?reportNum=${list.reportNum}|}">계정정지</a>
				</td>
		</tr>
		<tr th:if = "${cmList.size()==0}">
			<td  colspan="6">
				<p>신고리스트가 없습니다</p>
			</td>
		</tr>
	</table>
</body>
</html>