@charset "UTF-8";

body{
	margin : 0;
	padding : 0;
}

/*
	헤더css
*/
.header-container{
		width: 100%;
		height: 100px;
		background-color: #F9F7F7;
		position: relative;
}

.header-toAnother{
	position : absolute;
	height : 75px;
	top: 10%;
	left : 16%;
	margin-left: 20px;
}
.header-logo{
   position : absolute;
   height : 100px;
   width : 170px;
   left : 5%;
   top: -2%;
   float: left;
   background: url(/../images/logo_height.png) no-repeat center;
   background-size: contain;
}

.header-logMenuList{
	position: absolute;
	display : flex;
	right : 10%;
	list-style: none;
	top: 10%;
}
.header-logMenuList li {
	margin-right : 20px;
}
.header-logMenuList a {
	text-decoration: none;
	
}
/* 
	본문 섹션 css
 */
 .section-container{
 	width : 100%;
 	height : 72.3vh;
 	margin-bottom: 50px;
 	margin-top: 30px;
 }
 .searchBar-wrapper{
 	width :  100%;
 	margin:  auto;
 	padding : 0;
 	text-align : center;
 }
 /* 9월 29일 추가 작업 */
 .placeholder{
 	position:absolute;
 	width : 40px;
 	height : 42px;
 	background: url(/images/deliveryImages/placeholder.png);
 	background-size: contain;
 	background-repeat:no-repeat;
 	background-size : contain;
 	cursor : pointer;
 	border: none;
 	transform : translate(-40px);
 }
 .searchBar{
 	border : 5px solid #874C62;
 	width: 300px;
 	height: 30px;
 }
 .aside-left, .aside-right, .aside-center{
 }
 
 .aside-left{
 	position : absolute;
 	left : 3%;
 	background-color: #F2D388;
 	box-shadow: 1px 1px 5px 0;
 	
 }
 .weatherIcon{
 	width: 220px;
 	height : 140px;
 	background-size: contain;
 	background-repeat: no-repeat;
 }
 .aside-right{
 	position : absolute;
 	background-color: blue;
 	width : 15%;
 	height: 60vh;
 	right : 3%;
 	
 }
 ul {
 	list-style: none;
 }
 .top3Stores span{
 	position : absolute;
 	display : inline-block;
 	font-weight: bold;	
}
 .aside-center{
 	position:absolute;
 	left : 20%;
 	right : 20%;
 	width :900px;
 }
 .aside-center .section-center{
 	min-height: 60vh;
 	justify-content: center; 
 }

 .foodList{
 	display: flex;
 	flex-direction : row;
 	flex-wrap : wrap;
 	list-style: none;
 	
 }
.foodList a{
	text-decoration: none; 	
	position: relative;
}
 .foodList li{
 	margin-right : 10px;
 	margin-bottom : 10px;
	width: 200px;
	height: 200px;
	border : 1px solid grey;
	overflow: hidden;
 }
.foodList img{
	position : absolute;
	width: 100px;
	height : 100px;
	bottom : 20px;
	right : 20px;
}
footer{
	position : relative;
	margin-top : 10px;
	width : 100%;
	height : 100px;
	background-color : #F9F7F7;;
	
}