@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* { font-family: 'Noto Sans KR', sans-serif;}
body{
	margin : 0;
	padding : 0;
}

/*
	헤더css
*/
.header-container{
		width: 100%;
		height: 100px;
		background-color: fuchsia;
		position: relative;
}

.header-toAnother{
	position : absolute;
	height : 75px;
	top: 10%;
	left : 16%;
	
}
.header-logo{
	position : absolute;
	height : 75px;
	width : 75px;
	background-color: blue;
	top: 10%;
	left : 10%;
}

.header-logMenuList{
	position: absolute;
	display : flex;
	right : 10%;
	list-style: none;
	top: 10%;
}
.header-logMenuList li {
	margin-right : 20px;
}
.header-logMenuList a {
	text-decoration: none;
	
}
/* 
	본문 섹션 css
 */
 

 .alreadyMsg{font-size: 15px;}
 .readyMsg{font-size: 15px;}
 .msg{font-size: 15px;}
 
 .section-container{
 	width : 100%;
 	height : 72.3vh;
 	margin-bottom: 50px;
 	margin-top: 50px;
 }
 .searchBar-wrapper{
 	width :  100%;
 	margin:  auto;
 	padding : 0;
 	text-align : center;
 }
 .searchBar{
 	border : 5px solid black;
 	width: 300px;
 	height: 30px;
 }
 .aside-left, .aside-right, .aside-center{
	margin-top : 5%;
 }
 .aside-left{
 	position : absolute;
 	background-color: red;
 	width : 15%;
 	height: 60vh;
 	left : 5%;
 }
 
 .aside-right{
 	position : absolute;
 	background-color: blue;
 	width : 15%;
 	height: 60vh;
 	right : 5%;
 }
 .aside-center{
 	position:absolute;
 	width :50%;
 	left: 25%;
 	right: 25%;
 	background-color: purple;
 }
 .aside-center .section-center{
 	min-height: 60vh;
 	justify-content: center; 
 }

 .foodList{
 	display: flex;
 	flex-direction : row;
 	flex-wrap : wrap;
 	list-style: none;
 	
 }
 .foodList li{
 	margin-top : 10px;
	margin-right : 10px;
	width: 160px;
	height: 100px;
	background-color: yellow;
	overflow: hidden; 	
 }

footer{
	bottom: 0;
	width : 100%;
	height : 100px;
	background-color : lime;
	
}