<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/index.css">
</head>
<body>

	<div id="headerAndSection-wrapper">
		<header>
			<div class="header-container">
				<a href="/" class="header-logo" >
					asd
				</a>
			
				<ui class="header-logMenuList"> <!-- 로그인 및 로그아웃 링크 -->
					<li sec:authorize ="not isAuthenticated">
						<a th:href="@{/member/login}">
							로그인
						</a>
					</li>
					<li sec:authorize="not isAuthenticated">
						<a th:href ="@{/member/join}">
							회원가입
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/logout}">
							로그아웃
						</a>
					</li>
					<li sec:authorize="isAuthenticated">
						<a th:href ="@{/member/mypage}">
							회원정보
						</a>
					</li>
				</ui>
			</div>
		</header>
	
		<section>
			<div class="box-wrapper">
				<aside class="deliveryBox" >
					<a th:href="@{delivery/index}">
						배달주소
					</a>
				</aside>
					
				<aside class="communityBox">
					<a>
						zjab주소
					</a>				
				</aside>
			</div>
		
		</section>
	</div>

	<footer>
		
	</footer>

</body>
</html>