@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* { font-family: 'Noto Sans KR', sans-serif;}
 
body{
	margin : 0;
	padding : 0;
}

/*
	헤더css
*/

.header-container{
		width: 100%;
		height: 100px;
		background-color: #F0F0EF;
		position: relative;
}

.header-logo{
	position : absolute;
	height : 100px;
	width : 170px;
	left : 5%;
	top: -2%;
	float: left;
	background: url(/../images/logo_height.png) no-repeat center;
	background-size: contain;
}
.header-toAnother{
	position : absolute;
	height : 75px;
	top: 10%;
	left : 16%;
	margin-left: 20px;
	
}
.header-logMenuList{
	position: absolute;
	display : flex;
	right : 10%;
	list-style: none;
	top: 10%;
}
.header-logMenuList li {
	margin-right : 20px;
}
.header-logMenuList a {
	text-decoration: none;
	
}

/* 
	본문 섹션 css
 */
.loginContainer {
	width:760px; height: 550px; 
	margin: 0 auto; 
	
}



 /* loginTitle */
 .loginContainer .loginTitle { 
	width: 100%; 
	height: 200px; 
	line-height: 45px;
	text-align: center;
	padding-top: 20px;
    box-sizing: border-box;
    font-size: 30px;
    background: url(/../images/logo_width.png) no-repeat center;
}  

.logo{
    background: url(/../images/logo450.png) no-repeat center;
    width: 300px;
    height: 140px;
    line-height: 100px;
}


form {
	width:100%;
	text-align:center;
	height:450px;
	padding: 0px 100px;
	box-sizing: border-box;
}

fieldset{
	border: none;
}

legend{
	position: absolute;
	left: -999em;
}

.aside-center label{
	/* display: block; */ 
	font-size: 18px;
	margin-bottom: 10px;
}

/* input {
	display: inline-block;
	font-size: 15px;
	width: 80%;
	height: 50px;
	border: 1px #b8b8b8 solid;
	text-align: left;
	margin-bottom: 20px;
	background-color: #fcf3bd;
	padding: 0 30px;
	box-sizing: border-box; 패딩수치를 인사이드 처리
}
 */
 
#insertPinNum{
	width:60%;
}


#changePw{
	width:60%;
	
}
#changePwCheck{
	width:60%;
}


.elseBox{
    list-style: none;
    text-align: center;
  	padding-top: 30px;
    font-size: 17px;
}

.elseText{color: #9e9b9b;}
.txt_bar{color: #9e9b9b;}

/* .elseBox{
	margin-bottom: 50px;
	display: inline-block;
	text-align: center;
} */
.socialLogin{
	padding-top: 20px;
	padding-bottom: 20px;
}

.buttons{ 
	padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.btn1{
    padding: 8px 20px;
    background: #27d613;
    color: #ffffff;
    border: none;
    font-size: 15px;
    border-radius: 20px;
}

.btn2{
	background:#fa1414;
	padding: 8px 20px;
    color: #ffffff;
    border: none;
    font-size: 15px;
    border-radius: 20px;
}

.elseBox1{
	padding-top: 45px;
}
.elseBox2{
	padding-bottom: 20px;
}

.updateBtn{
	text-align: center;
	padding-bottom: 30px
}

.idpwButton {
	border: none;
	width: 50%;
    padding: 15px 30px;
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;
    transition: 0.25s;
    background-color: #6b402d;
	color: #ffffff;
	font-size: 20px;
	
}

.idpwButton:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.upBtn{
	padding: 8px 20px;
    background: #27d613;
    color: #ffffff;
    border: none;
    font-size: 15px;
    border-radius: 20px;
	
}

/* 본문 css 끝  */

 .section-container{
 	width : 100%;
 	min-height: 95vh;
 	margin-bottom: 50px;
 	margin-top: 30px;
 }
 .searchBar-wrapper{
 	width :  100%;
 	margin:  auto;
 	padding : 0;
 	text-align : center;
 }
 .searchBar{
 	border : 5px solid black;
 	width: 300px;
 	height: 30px;
 }
 .aside-left, .aside-right, .aside-center{
	margin-top : 20px;
 }
 .aside-left{
 	position : absolute;
 	/* background-color: red; */
 	width : 15%;
 	height: 60vh;
 	left : 5%;
 }
 
 .aside-right{
 	position : absolute;
 	/* background-color: blue; */
 	width : 15%;
 	height: 60vh;
 	right : 5%;
 }
 .aside-center{
 	position:absolute;
 	width :50%;
 	left: 25%;
 	right: 25%;
}
 .aside-center .section-center{
 	min-height: 60vh;
 	justify-content: center; 
 }

.mapInfo{
	padding : 40px;
}
.mapInfo p{
	position : absolute;
	color: #6666FF;
	width: 300px;
	background-color: navy;
}
.mapImg{
	width : 300px;
	height:200px;
}
.aside-center .partyJoinOut{
	margin-top : 40px;
	margin-left : 40px;
	text-align : center;
	background-color: olive;
	width : 300px;
}
.menuImg{
	position:absolute;
	right : 50px;
	top : 50px;
}
.menuImg img{
	width : 280px;
	height: 150px;
}

.participient{
	position:absolute;
	right : 40px;
	top : 240px;
	width : 300px;
	height:200px;
	
	
}

footer{
	position: relative;
	margin-top: 10px;
	width : 100%;
	min-height : 100px;
	background-color : lime;
	
}